.imgServei {
  width: 200px;
}

/* ESTILOS FORM */

.formCitaPrevia {
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
}
.formCitaPrevia input {
  margin-bottom: 15px;
}
textarea,
select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;

  font-size: 14px;
  border: 2px solid #6785c1;
}

.label,
section > label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"],
.button {
  position: relative;
  background: #6785c1;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.5rem;
  transition: 0.3s all;
}
.containerForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ESTILOS PERFIL*/
.perfil-img {
  width: 55px !important;
}

.box-perfil ul {
  margin: 0;
  width: 100%;
  padding: 0;
  padding-top: 0px;
  list-style-type: none;
}
.usuario {
  float: left;
  border-top: 4px solid #fcb150;

  text-align: center;
}
.mail {
  border-top: 4px solid #11a8ab;
  float: left;
}
.box-perfil li {
  border-right: 2px solid #1f253d;
  border-bottom: 1px solid #1f253d;
  border-left: 2px solid #1f253d;
  text-align: center;
  width: 100%;
}
.info-user {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 50%;
  margin: 50px auto;
}

.logout svg{
  color: red;
  font-size: 45px;
  cursor: pointer;
}

.notfound{ 
  width: 450px !important;
  margin: auto;
  text-align: center;
}
.box-404{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 50%;
  margin: 50px auto;
}